.ex-1-square {
    transition: all 1s linear 0s;
}

.ex-1-square:hover{
    background-color: red;
}

.ex-2-square{
    transition: width 2s linear 0s;
}

.ex-2-square.ex-2-square:active{
    width: 100%;
}

.ex-3-square{
    transition: all 2s linear 0s;
}

.ex-3-square:hover{
    border-radius: 100px;
}

.ex-4-square{
    transition: all 1s linear 0s;
}

.ex-4-square:hover{
    opacity: 0;
}