/* esercizio 1 */
.ex-1-square {
    transition: all 1s linear 0s;
}

.ex-1-square:hover{
    background-color: red;
}


/* esercizio 2 */
.ex-2-square{
    transition: width 2s linear 0s;
}

.ex-2-square.ex-2-square:active{
    width: 100%;
}


/* esercizio 3 */
.ex-3-square{
    transition: all 2s linear 0s;
}

.ex-3-square:hover{
    border-radius: 100px;
}


/* esercizio 4 */
.ex-4-square{
    transition: all 1s linear 0s;
}

.ex-4-square:hover{
    opacity: 0;
}


/* esercizio 5 */
.ex-5-square {
    transition: all 1s linear 0s;
}

.ex-5-square:hover{
    transform: scale(2) ;
}

.ex-5-square:active{
    transform: scale(0.5);
}


/* esercizio 6 */
.ex-6-img:hover{
    filter:grayscale(1)
}


/* esercizio 7 */
.ex-7-img{
    transition: all 1s linear 0s;
}

.ex-7-img:hover{
    filter: grayscale(1);
}


/* esercizio 8 */
.ex-8-img{
    transition: all 2s;
}

.ex-8-img:hover{
    filter: grayscale(0.8) sepia(0.7);
    border-radius: 10px;
}

/* esercizio 9 */
.ex-9-img{
    transition: all 2s;
}

.ex-9-img:hover{
    transform: scale(1.5);
    border-radius: 10px;
    filter: grayscale(0.8) sepia(0.7);
}

/* esercizio 10 */
.ex-10-icon{
    animation: 1s linear reverse rotate;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    0%{
        rotate: 0deg;
    }
        
    100% {
        rotate: 360deg;
    }
}